<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="../../static/css/indexcss.css">
</head>
<body>
<div class="header">
    <div class="photo">
        <img src="../../static/images/GowriShankar.jpeg" alt="photo">
    </div>
    <div class="name">
        <h1>GOWRI SHANKAR K</h1>
        <h2>BE CSE</h2>
        <h3>GOVERNMENT COLLAGE OF ENGINEERING SALEM</h3>
        <div style="display: flex;justify-content: center;">
            <a href="https://github.com/G-0911">
                <img src="https://img.icons8.com/material-sharp/24/000000/github.png" alt="github">
            </a>
            
        </div>
    </div>
</div>
<div class="content">
    <p>Hi I am Gowri Shankar,<br><br>
    <ul>
        <li> I am Currently pursuing Bachelors degree in Computer Science and Engineering at <strong>GOVERNMENT COLLEGE OF
            ENGINEERING SALEM.</strong></li>
        <li> And I Did My Schooling in <strong>ADHARSH VIDYALAYA MATRICULATION HIGHER SECONDARY SCHOOL.</strong><br>
        </li>
        <li>I did 2 Project in My College
            <ul>
                <li><strong>Minute to Visit (Web)</strong></li>
                <li><strong>Dynamic Website Development</strong></li>
            </ul>
        </li>
    </ul>
</div>
<div class="contact">
    <form class="forms">
        <h1>Contact</h1>
        <div class="name">
            <label>
                <input type="text" placeholder="Name">
            </label>
        </div>
        <div class="mail">
            <label>
                <input type="text" placeholder="Mail Id">
            </label>
        </div>
        <div class="button">
            <button><b>SUBMIT</b></button>
        </div>
    </form>
</div>
</body>
</html>